<div class="nosotros">
  <h2>¿Quiénes somos?</h2>
  <p style="text-align: center;">Somos un grupo de estudiantes dedicados al desarrollo de aplicaciones móviles</p>

  <h2>Nuestro Equipo</h2>
  <div class="equipo">
    <div class="miembro">
      <img src="/assets/img/foto.jpg" alt="Nombre del Miembro"> <!-- Imagen del miembro del equipo -->
      <h3>Ederson Jaimes</h3> <!-- Nombre del miembro del equipo -->
      <p style="text-align: center;">Aprendiz de desarrollador</p> <!-- Rol del miembro del equipo -->
    </div>
  </div>

  <h2>Nuestra Historia</h2>
  <p style="text-align: center;">Nuestra historia es muy corta pero interesante, despues te la cuento</p> 
  <h2>Nuestros Valores</h2>
  <ul>
    <li>Honestidad</li> 
    <li>Compromiso</li>
    <li>Creatividad</li>
    <li>Persevarencia</li>
    
  </ul>

  <h2>Proyectos Anteriores o Actuales</h2>
  <p style="text-align: center;">este es mi primer proyecto Angula, pero no el ultimo</p> 

  <h2>Contacto</h2>
  <p style="text-align: center;">3186902714</p> <!-- contacto -->
  
</div>
